<div class="container">
    <div ng-show="backendErrors" class="alert alert-danger">
        <ul>
            <li ng-repeat="err in backendErrors">{{ err[0] }}</li>
        </ul>
    </div>
    <form name="loginForm" class="form-signin form-horizontal" ng-submit="loginSubmit(loginForm)">
        <h2 class="form-signin-heading">Logowanie</h2>
        <hr>
        <label for="email" class="sr-only">Email</label>
        <input id="email" ng-model="lData.email"  class="form-control" type="text" placeholder="Email">
        <label for="password" class="sr-only">Hasło</label>
        <input id="password" type="password" ng-model="lData.password" class="form-control" placeholder="Hasło">
        <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj <i ng-show="lSpinner" class="fa fa-spinner fa-spin"></i></button>
    </form>
</div>