<div class="jumbotron">
    <div class="container">
        <h3 ng-hide="$root.Auth.is()">Nie jestes zalogowny</h3>

        <h3 ng-show="$root.Auth.is()">Witaj, {{$root.Auth.user().name}}</h3>
    </div>
</div>
<img src="/img/bonus.jpg" class="center-block img-responsive">
