<div class="container">
    <div ng-show="backendErrors" class="alert alert-danger">
        <ul>
            <li ng-repeat="err in backendErrors">{{ err[0] }}</li>
        </ul>
    </div>

    <form name="registerForm" class="form-signin form-horizontal" ng-submit="registerSubmit(registerForm)" ng-validate="registerValidationOptions">
        <h2 class="form-signin-heading ">Rejestracja</h2>
        <hr>
        <label for="email">Email *</label>
        <input ng-model="rData.email" name="email" type="email" id="email" class="form-control" placeholder="Email" autofocus>
        <label for="password">Hasło *</label>
        <input ng-model="rData.password" name="password" type="password" id="password" class="form-control" placeholder="Hasło">
        <label for="password_confirmation">Powtórz Hasło *</label>
        <input ng-model="rData.password_confirmation" name="password_confirmation" type="password" id="password_confirmation" class="form-control" placeholder="Powtórz Hasło">
        <hr>

        <div class="form-group">
            <div class="col-xs-4">
                <input ng-model="day" name="day" class="form-control" placeholder="Dzień">
            </div>
            <div class="col-xs-4">
                <select ng-model="month" name="month" class="form-control">
                    <option value="" disabled selected>Miesiąc</option>
                    <option ng-repeat="m in moths" value="{{$index}}">{{m}}</option>
                </select>
            </div>
            <div class="col-xs-4">
                <input ng-model="year" name="year" class="form-control" placeholder="Rok">
            </div>
        </div>

        <label for="name">Imię</label>
        <input ng-model="rData.name"  name="name" id="name" class="form-control" placeholder="Imie">
        <label for="lastName">Nazwisko</label>
        <input ng-model="rData.lastName"  name="lastName" id="lastName" class="form-control" placeholder="Nazwisko">
        <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Utwórz konto <i ng-show="rSpinner" class="fa fa-spinner fa-spin"></i></button>
    </form>
</div>


